# The Token Mint Account address. Ex: 5nPpnrAJNBNVJ3hdpNub34q1yfomGdPZj1BMewK8eBZr
VITE_SPL_TOKEN_MINT=

# The number of decimals the token uses. Ex: 9
VITE_TOKEN_DECIMALS=

# The RPC node to connect to. Ex: devnet
VITE_RPC_NODE=